{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!
{% endblock %}

{% block body %}


	<div class="container">
		<h1 class="text-center mt-5">Ajouter un site web</h1>

		{{ form_start(form) }}
        <div class="row">
            <div class="col-6">
                {{ form_row(form.name) }}
            </div>
            
            <div class="col-6">
                {{ form_row(form.url) }}
            </div>
        </div>
        {{ form_end(form) }}
		</div>
	{% endblock %}
